.detailContainer {
  position: absolute;
  padding: 7rem 5rem 0 5rem;
}

.contentTitle {
  font-size: 2rem;
}

.contentsInfo {
  display: flex;
  padding: 1rem 0;
}

.basicInfo {
  margin-left: 1rem;
}

.basicTitle {
  font-size: 1.3rem;
}

.description {
  font-size: 1.3rem;
}

.overview {
  display: block;
  margin: 1rem 0;
  font-size: 1rem;
}

.provider {
  position: relative;
  top: 49%;
}

.logo {
  width: 4rem;
  margin-right: 1rem;
}

.genreInfo,
.releaseInfo,
.voteInfo,
.runtimeInfo {
  margin: 1rem 0;
}

.videoContainer {
  margin: 2rem 0;
}

.video {
  width: 29vw;
  height: 20rem;
  margin-right: 0.5rem;
}

.creditContainer {
  display: flex;
  overflow: auto;
  scrollbar-color: auto;
  width: 87vw;
}

.creditContainer::-webkit-scrollbar {
  width: 10px;
}

.creditContainer::-webkit-scrollbar-thumb {
  background-color: #202021;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.creditContainer::-webkit-scrollbar-track {
  background-color: gainsboro;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

.creditItem {
  height: 20rem;
  margin-right: 0.5rem;
  box-shadow: -1px 19px 14px -3px rgba(0, 0, 0, 0.75);
  border-bottom: 1px solid #202010;
}

.creditImg {
  width: 10rem;
  height: 13rem;
}

.nameContainer {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 1.1rem;
  margin-bottom: 1.3rem;
}

.character {
  font-size: 1rem;
}

.imgEmpty {
  width: 100px;
}

.commentContainer {
  margin: 2rem 0;
}
.comment {
  font-size: 1.3rem;
}
