.contentContainer {
  width: 99vw;
  display: block;
  margin-top: 95px;
  z-index: -1;
  overflow: hidden;
}

.contentContainer.show {
  width: 88vw;
  margin-left: 10.3rem;
  margin-top: 80px;
  padding: 1rem;
  overflow: hidden;
}

.ck-editor__editable {
  height: 75vh;
}

.ck-editor {
  color: #272829;
}

.ck.ck-editor__editable img {
  width: 15rem;
}
