.genre {
  display: none;
}

.genre.show {
  display: block;
  position: fixed;
  width: 10rem;
  height: 85vh;
  overflow-y: auto;
  background-color: #3b3e40;
  z-index: 3;
}

.genre-btn {
  font-size: 1.1rem;
  margin-left: 2rem;
  padding: 0.5rem;
  border-radius: 10%;
  border: 1px solid #f0eded;
  cursor: pointer;
}

.genre-container {
  position: fixed;
  top: 95px;
  width: 100%;
  background-color: #3b3e40;

  z-index: 3;
}

.genre-bar {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.genre-title {
  font-size: 1.5rem;
}
