.listContainer {
  margin-bottom: -14rem;
}

.btnLeft,
.btnRight {
  position: relative;
  font-size: 2rem;
  top: -29vh;
  cursor: pointer;
  border: 1px solid black;
  padding: 12.9vh 1rem;
  background-color: black;
  opacity: 0;
}

.btnLeft:hover,
.btnRight:hover {
  opacity: 0.8;
}
