.listContainer {
  margin-bottom: -14rem;
}

.contentsList {
  display: flex;
  margin-top: 1rem;
  transition-duration: 1s;
  height: 100%;
}

.contentsList.next1,
.contentsList.prev1 {
  transform: translateX(-60vw);
  transition-duration: 1s;
}

.contentsList.next2,
.contentsList.prev2 {
  transform: translateX(-120vw);
  transition-duration: 1s;
}

.contentsList.next3,
.contentsList.prev3 {
  transform: translateX(-180vw);
  margin-left: 10rem;
  transition-duration: 1s;
}

.btnLeft,
.btnRight {
  position: relative;
  font-size: 2rem;
  top: -17.9rem;
  cursor: pointer;
  border: 1px solid black;
  padding: 8rem 1rem;
  background-color: black;
  opacity: 0;
}

.btnLeft:hover,
.btnRight:hover {
  opacity: 0.8;
}
