.noticeContainer {
  position: relative;
  top: 8rem;
  margin: 0 7rem;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.noticeTitle {
  font-size: 1.5rem;
  margin-left: 3rem;
}

.searchContainer {
  position: absolute;
  right: 6rem;
  display: flex;
  padding: 0.3rem;
  border: 1px solid gray;
}

.searchBar {
  background-color: inherit;
  border: none;
  outline: none;
  color: white;
}

.searchIcon {
  cursor: pointer;
}

.link {
  position: absolute;
  right: 0;
  border: 1px solid #bd42f5;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #bd42f5;
}

.ckEditor {
  color: black;
}

.tableContainer {
  width: 100%;
}

th {
  width: 30rem;
}

tr {
  border-collapse: separate;
  border-spacing: 0 0.6rem;
}

.noticeInfo {
  border-bottom: 1px solid white;
}
