.noticeContainer {
  position: absolute;
  display: block;
  margin-top: 7rem;
}

.searchIcon {
  cursor: pointer;
}

.ckEditor {
  color: black;
}

.title {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.tableContainer {
  width: 100vw;
}

th {
  width: 30rem;
}

tr {
  border: 1px solid white;
}
