.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 7rem;
  padding: 0 14vw;
}

.profile {
  display: flex;
  height: 10rem;
  margin-bottom: 3rem;
}

.profilePoster {
  width: 10rem;
}

.profileDetail {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.name,
.birthday {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.filmContainer {
  display: flex;
  flex-wrap: wrap;
}

.filmDetail {
  display: flex;
  width: 15rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.filmPoster {
  width: 7rem;
  margin-right: 1rem;
}

.filmTitle {
  font-size: 0.8rem;
  line-height: 1rem;
}
