.detailContainer {
  position: absolute;
  margin-top: 100px;
  padding: 0 3rem;
}

.contentTitle {
  font-size: 2rem;
}

.contentsInfo {
  display: flex;
  padding: 1rem 0;
}

.basicTitle {
  font-size: 1.3rem;
}

.description {
  font-size: 1.3rem;
}

.overview {
  display: block;
  margin: 1rem 0;
  font-size: 1rem;
}

.logo {
  width: 3rem;
  height: 3rem;
}

.genreInfo,
.releaseInfo,
.voteInfo,
.runtimeInfo {
  margin: 1rem 0;
}
.video {
  width: 400px;
  height: 200px;
}

.creditContainer {
  display: flex;
  overflow-y: hidden;
}

.creditItem {
  width: 8rem;
  margin-right: 0.5rem;
}

.creditImg {
  width: 100%;
}

.name {
  font-size: 1.3rem;
}
