.chatContainer {
  position: relative;
  top: 10rem;
  margin: 0 10rem;
}

.searchContainer {
  display: flex;
  align-items: center;
}

.searchIcon {
  cursor: pointer;
}

.roomContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 5rem;
  width: 70vw;
  margin: 1rem 0;
  border: 1px solid;
}

.roomList {
  position: relative;
  margin: 2rem 0;
}

.chat {
  position: relative;
}

.create {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: -17rem;
  background-color: #bd42f5;
  left: 40%;
  right: 40%;
  width: 20rem;
}

.dialogContainer {
  position: relative;
  display: flex;
  justify-content: center;
  top: -30rem;
}

.dialog {
  width: 30vw;
  height: 60vh;
}

.dialog.chatDidalog {
  display: flex;
  justify-content: center;
}

.inputTitle {
  margin: 2rem 0;
}

.enroll {
  margin-right: 1rem;
}
