.chatContainer {
  position: relative;
  top: 8rem;
  margin: 0 10rem;
  height: 80%;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchIcon {
  cursor: pointer;
}

.roomList {
  position: relative;
  margin: 2rem 0;
}

.chat {
  position: relative;
}

.create {
  margin-left: 5rem;
  display: flex;
  justify-content: center;
  background-color: #bd42f5;
  width: 20%;
  padding: 0.5rem 0;
  border-radius: 10px;
  cursor: pointer;
}

.dialogContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 2rem;
  left: 25%;
  height: 100%;
}

.dialog {
  width: 30vw;
  height: 60vh;
}

.dialog.chatDidalog {
  display: flex;
  justify-content: center;
}

.inputTitle {
  margin: 2rem 0;
}

.enroll {
  margin-right: 1rem;
}
