.room {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 100%;
  margin: 1rem 0;
  border-bottom: 1px solid;
  font-size: 1.5rem;
}

.profile {
  display: flex;
  align-items: center;
  margin: 0 2rem;
  border: solid white;
  border-width: 0px 1px;
  padding: 0 1rem;
}

.enterRoom {
  margin-right: 1rem;
  cursor: pointer;
}

.deleteRoom {
  cursor: pointer;
}

.dialog {
  position: fixed;
  margin-top: 12rem;
  width: 30rem;
  height: 60vh;
  border: none;
  top: -1rem;
}

.header {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}

.roomTitle {
  color: #bd42f5;
  font-weight: 700;
}

.item {
  overflow-y: scroll;
  height: 55vh;
}

.image {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 0.3rem;
}

.chatRight {
  position: relative;
  width: 50%;
  left: 50%;
  margin: 1rem 0;
}

.chatLeft {
  margin: 1rem 0;
}

.chatProfile {
  position: relative;
}

.chatNickname {
  position: absolute;
  top: 0.2rem;
}

.date {
  margin: 0 0.3rem;
}

.chatContent {
  margin-top: 0.5rem;
}

.form {
  position: fixed;
  width: 30rem;
  height: 7vh;
  bottom: 5rem;
  background-color: gray;
  margin-left: -16px;
  padding-right: 32px;
  padding-top: 2rem;
}

.formItem {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -0.4rem;
}

.input {
  height: 2rem;
  width: 20rem;
  background-color: gray;
  border: none;
  outline: none;
  color: white;
  margin-left: 1rem;
}

.input::placeholder {
  color: white;
}

.submitBtn {
  background-color: #bd42f5;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.leave {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}
