.room {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 5rem;
  width: 100%;
  margin: 1rem 0;
  border: 1px solid;
}

.dialogContainer {
  display: flex;
  justify-content: center;
  margin-top: -10rem;
  margin-left: -10rem;
  width: 100vw;
}

.dialog {
  position: absolute;
  width: 40vw;
  height: 60vh;
  top: -1rem;
}

.leave {
  position: absolute;
  right: 1rem;
}
