.chatContainer {
  position: absolute;
  display: block;
  margin: 7rem 10rem;
}

.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.searchIcon {
  cursor: pointer;
}

.create {
  display: flex;
  margin: 3rem 0;
}

.roomContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 5rem;
  width: 70vw;
  margin: 1rem 0;
  border: 1px solid;
}

.dialogContainer {
  position: absolute;
  margin-top: -5rem;
  margin-left: -20rem;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.dialog {
  width: 30vw;
  height: 60vh;
}

.dialog.chatDidalog {
  display: flex;
  justify-content: center;
}

.inputTitle {
  margin: 2rem 0;
}

.enroll {
  margin-right: 1rem;
}
