.genre {
  display: none;
}

.genre.show {
  display: block;
  position: fixed;
  width: 10vw;
  height: 83vh;
  border: 1px solid black;
  overflow-y: auto;
  z-index: 3;
}

.genre-detail {
  padding: 1rem;
}

.genre-btn {
  font-size: 1.1rem;
  margin-left: 2rem;
  padding: 0.5rem;
  border-radius: 10%;
  border: 1px solid black;
  cursor: pointer;
}

.genre-container {
  position: fixed;
  top: 80px;
  width: 100%;
  background-color: lightgray;
  z-index: 3;
}

.genre-bar {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.genre-title {
  font-size: 1.5rem;
}
